<div class="block1">
  <p style="border: 0px;background-color: #DADADA;
          text-align: center;
          background: linear-gradient(to top, #BBBBBB, #F7F7F7);
          border: 1px solid #333;
          width: 200px">
    <%= link_to "Обучить, загрузив текст", {:action=>"main"} %>
  </p>
  <p style="border: 0px;background-color: #DADADA;
          text-align: center;
          background: linear-gradient(to top, #BBBBBB, #F7F7F7);
          border: 1px solid #333;
          width: 300px">
    <%= link_to "Сгенерировать возможные предложения по глаголу + сателлит", {:action=>"input"} %>
  </p>
  <p style="border: 0px;background-color: #DADADA;
          text-align: center;
          background: linear-gradient(to top, #BBBBBB, #F7F7F7);
          border: 1px solid #333;
          width: 300px">
    <%= link_to "Сгенерировать возможные предложения по глаголу", {:action=>"input_verb"} %>
  </p>
  <p style="border: 0px;background-color: #DADADA;
          text-align: center;
          background: linear-gradient(to top, #BBBBBB, #F7F7F7);
          border: 1px solid #333;
          width: 300px">
  <%= link_to "Частотность", {:action=>"show"} %>
  </p>

</div>