<div class="block1">
  <%= form_tag('http://localhost:3000/main/input_verbs', method: :get) do %>
  <table>
    <tr>
      <td>Введите субъект </td>

    </tr>
    <tr>
      <td> <%= text_field_tag :subject, @subject, :value=> "People" %> </td>
    </tr>
    <tr>
      <td style="border: 0px"> <%= submit_tag "Далее" %> </td>
    </tr>
  </table>

  <% end %>
</div>