<div class="block1">

  <table>
    <tr> <td> <p> <b> Данные предложения не известны программе </b></p></td></tr>
    <tr> <td>Предложение </td>
    <td colspan="2"> Обучить? </td></tr>
    <% @res=@str - @predloj %>
    <% @res.each do |sentence| %>
    <tr>
      <td>

        <%= sentence  %>
        <% @arr_sent=sentence
        %>

      </td>
      <td class="td_but"> <%= link_to "Обучить?", {:action=>"ask", :arr_sent => @arr_sent
                                                   } %> </td>
    </tr>

    <% end %>

  </table>
  <table>
    <tr>  <td class="td_but"> <%= link_to "Вернуться на главную", {:action=>"index"} %> </td> </tr>
  </table>


</div>