

<div class="block1">

  <table>
    <tr> <td> <p> <b> Данные предложения не известны программе </b></p></td></tr>
    <tr> <td>Предложение </td>
      <td colspan="2"> Обучить? </td></tr>
    <% @res=@str - @predloj
       @obrabot=0 %>
    <% @res.each do |sentence| %>

            <% @arr_sent=sentence

            %>
            <% @sentences=Sentence.find_by_sql ["SELECT * FROM public.sentences
        WHERE  sentences.senten = ? and sentences.obrabot = 1;", @arr_sent]
               if @sentences.empty?
                 @obrabot=0
               else
                 @obrabot=1
               end %>
            <% if @obrabot != 1 %>

              <tr>  <td>  <%= sentence  %>   </td>
          <td class="td_but"> <%= link_to "Обучить?", {:action=>"ask", :arr_sent => @arr_sent
                                                    } %> </td>
            </tr>
            <% else %>
            <% end %>




    <% end %>

  </table>
  <table>
    <tr>  <td class="td_but"> <%= link_to "Вернуться на главную", {:action=>"index"} %> </td> </tr>
  </table>


</div>